header{
    background-color: rgb(100, 75, 211);
    display: flex;

}

header ul {
display: flex;
  justify-content: space-evenly; 
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; 
}

header li {
  margin-right: 20px; 
  color: white;
}

header li a {
  margin-right: 20px; 
  color: white;
}


main{
    background-color: #fae5a6 ;
   display: flex;        
   flex-direction: column;      
  justify-content: center;    
  align-items: center;        
  height: 80vh;                
}

header li:hover {
  background: red;
  color: yellow;            
  transition: 0.7s;
  cursor: pointer;         
  text-decoration: underline;
}


header li a:hover {
  background: red;
  color: yellow;            
  transition: 0.7s;
  cursor: pointer;         
  text-decoration: underline;
}