   body { font-family: Arial;
     max-width: 1100px; 
     margin: 20px auto; 
    background-color: #f2f2f2;}
    textarea {
        width: 100%;
        height: 220px;
        resize: none;
        font-family: monospace;
        white-space: pre-wrap;
    }
    button { display: block; margin-bottom: 10px; width: 260px; }
    .row { display: flex; gap: 10px; }
    .half { width: 50%; display: flex; flex-direction: column; }